{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block fileStyle %}

    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

</head>
<body class="{% if request.COOKIES.mode == 'dark' %}dark{% endif %}">
    <div class="header">
        <div class="logo">
            <a href="{% url 'main:home_view' %}">Home</a>
        </div>
        <div class="nav-bar">
            <a href="{% url 'main:home_view' %}">Home</a>
            <a href="{% url 'main:properties_view' %}">Properties</a>
            <a href="">Services</a>
            <a href="">About</a>
            <a href="{% url 'main:contact_view' %}">Contact</a>
        </div>
        <div class="nav-right">
            <a href="" class="sign-up"><span class="material-symbols-outlined" id="person">person</span> Sign up</a>
            <a href="{% url 'main:dark_mode' 'light' %}">
                <span class="material-symbols-outlined" id="sun">clear_day</span>
            </a>
            <a href="{% url 'main:dark_mode' 'dark' %}">
                <span class="material-symbols-outlined" id="moon">bedtime</span>
            </a>
        </div>
    </div>
    <div class="main">
        {% block content %}

        {% endblock %}

    </div>
        <div class="footer">
            <p>Real Estate International. All Right Reserved 2025</p>
        </div>

</body>
</html>