@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 89vh;
    font-family: "Phudu", sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    height: 100px;
    position: sticky;
    top: 60px;
    z-index: 10;

}

.header .logo a {
    font-size: 42px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: 1s;
}
.header .logo a:hover {
    font-size: 43px;
    color: red;
}

.header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 25px 80px;
    width: 620px;
    border-radius: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header .nav-bar a {
    transition: 1s;
}

.header .nav-bar a:hover {
    font-size: 15px;
    color: red;
}

.header .nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    width: 200px;
    height: 30px;
    justify-content: space-between;
    position: relative;
    padding: 0 45px;
}

.header .nav-right .material-symbols-outlined {
    font-size: 20px;
    font-weight: 550;
}

#person {
    position: absolute;
    left: 25px;
    top: 4px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.sign-up {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

#moon {
    position: absolute;
    top: 4px;
    right: 40px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

#sun {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color: #f4f7f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 185px;
    z-index: -1;
}

.footer p {
    background-color: rgb(232, 232, 232);
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    font-size: 13px;
    font-weight: 550;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

}

/* Dark Mode */

body.dark {
    background-color: #121212;
    color: white;
}

body.dark .header .nav-bar {
    background-color: #1f1f1f ;
    box-shadow: 0 1px 15px rgba(225, 225, 225, 0.15);
}

body.dark .header .logo a {
    color: white;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.3);
}


body.dark .header .logo a:hover {
    font-size: 43px;
    color: rgb(149, 149, 149); 
}

body.dark .header .nav-bar a {
    color: white;
}

body.dark .header .nav-bar a:hover {
    color: rgb(149, 149, 149);
}

body.dark .header .nav-right {
    position: relative;
}

body.dark .header .nav-right a {
    color: white;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.3);

}

body.dark #moon {
    background-color: #1f1f1f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right:34px;
}

body.dark #person {
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.3);
}

body.dark #sun {
    background-color: transparent;
}

body.dark .footer {
    background-color: #1e1e1e;
}

body.dark .footer p {
    background-color: black;
    color: white;
}

